:root {
    --color: crimson;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 3rem;
    background: none;
    color: var(--color);
    margin: 40px 0;
    text-align: center;
    font-family: monospace;
}

@media screen and (max-width:400px),
(min-width:900px) {
    .title {
        background: #000;
        color: #fff
    }
}


/* @media screen and (orientation:portrait) and (max-width:600px) {
    .title {
        text-align: left;
    }
} */


/* @media <media-type> and (expression){
    
} */


/* @media print {
    .title {
        color: steelblue;
        font-size: 5rem;
        text-align: right;
        font-family: cursive;
    }
} */


/* @media screen and (orientation:portrait) {
    .title {
        color: steelblue;
        background: #000;
        height: 100vh;
        margin: 0;
    }
} */


/* @media screen and (max-width:600px) {
     :root {
        --color: white;
    }
    .title {
        background: black;
        color: #fff;
        border-bottom: 20px solid crimson;
    }
} */